<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-web-thymeleaf:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-web-thymeleaf-1.0.war">
      <element id="artifact" artifact-name="spring-boot-web-thymeleaf:war exploded" />
    </root>
  </artifact>
</component>